*.ipch
*.db
*.testlog
*.manifest
.vs/AM_lib/v16/.suo
*.vcxitems
*.filters
*.exp
*.lib
*.pdb
*.tlog
*.obj
*.idb
*.vcxproj
*.user
*.log
*.pch
AM_lib/Debug/AM_lib.vcxproj.FileListAbsolute.txt
*.sln
*.dll
*.ilk
.vs/AM-common/v16/.suo
*.opendb
AM_headers/.vs/AM_headers/v16/.suo
